<div class="alert alert-danger" ng-show="controller.error">
  There was a problem logging in. Please try again.
</div>
<form action="" role="form" ng-submit="controller.login()">
	<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" ng-model="controller.credentials.username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="text" class="form-control" id="password" name="password" ng-model="controller.credentials.password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
